.product {
    box-shadow: #777777 (2px 2px 5px 0px);
    border: 1px solid rgb(185, 185, 185);

    .product_img {
        // padding: 10px;

        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .product_des {
        padding: 10px 0;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border-top: 1px solid rgb(185, 185, 185);
        background-color: rgba(5, 36, 102, 0.068);

        .product_name {
            font-weight: 700;
            color: rgb(59, 27, 27);
        }

        .product_price {
            font-weight: 700;
        }
    }
}
