* {
    margin: 0;
    padding: 0;
}

.banner_section {
    .slider {
        height: 400px;
        position: relative;

        img {
            // max-width: 100%;
            //height: auto;
            width: 100%;
            height: 400px;
            object-fit: cover;
            display: block;
        }

        .inner {
            position: absolute;
            z-index: 9000;
            font-size: 30px;
            font-weight: bolder;
            color: #fff;
            align-items: center;
            text-align: center;
            background-color: rgba(5, 6, 71, 0.301);
            bottom: 50%;
            height: fit-content;
            padding: 10px;
            border-radius: 2rem;

        }
    }
}
